{% extends 'base.html' %}

{% block content %}
<div>

    <div class="navbar bg-base-100 sticky top-0 z-50">
        <div class="navbar-start"></div>
        <div class="navbar-center">
            <h1 class="text-4xl text-secondary" style="font-family: 'Coiny', cursive;">Question-Answering Bot</h1>
        </div>
        <div class="navbar-end"></div>
    </div>


    <div class="grid md:grid-cols-3">
        <div class="col-span-1"></div>
        <div class="col-span-1">
            <div class="prose">

            </div>
            <div>
                <div class="card-body messages-box">
                    <ul class="list-unstyled messages-list">

                        {% for chat in chats %}
                        {% if chat.user == request.user %}

                        <li>
                            <div class="toast toast-end">
                                <div>
                                    <b>You</b>
                                </div>
                                <div>
                                    {{chat.message}}
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="toast toast-start">
                                <div>
                                    <b>BOT</b>
                                </div>
                                <div>
                                    {{chat.response}}
                                </div>
                            </div>
                        </li>

                        {% endif %}
                        {% endfor %}

                    </ul>

                </div>
            </div>
        </div>
        <br><br>
        <br><br>
        <br><br>

        <form class="message-form bg-base-100 form-control w-full max-w-xs">
            {%csrf_token%}
            <div class="footer toast toast-center form-control w-full max-w-xs">
                <label class="label">
                    <span class="label-text">What is your question?</span>
                </label>
                <input class="message-input input input-bordered w-full max-w-xs" placeholder="Type here..."
                       type="text">
                <div class="input-group-append">
                    <button class="toast-center btn btn-secondary btn-active btn-md"
                            type="submit">Send
                    </button>
                </div>
            </div>
        </form>

    </div>
    <div class="col-span-1"></div>
</div>
</div>

<script>
    const messagesList = document.querySelector('.messages-list');
    const messageForm = document.querySelector('.message-form');
    const messageInput = document.querySelector('.message-input');

    messageForm.addEventListener('submit', (event) => {
        event.preventDefault();

        const message = messageInput.value.trim();
        if (message.length === 0) {
            return;
        }

        const messageItem = document.createElement('li');
        messageItem.innerHTML = `
        <div class="chat chat-end">
            <div class="chat-header">
                <b>You</b>
            </div>
            <div class="chat-bubble chat-bubble-primary">
                ${message}
            </div>
        </div>`;
        messagesList.appendChild(messageItem);

        messageInput.value = '';

        fetch('', {
            method: 'POST',
            headers: {'Content-Type': 'application/x-www-form-urlencoded'},
            body: new URLSearchParams({
                'csrfmiddlewaretoken': document.querySelector('[name=csrfmiddlewaretoken]').value,
                'message': message
            })
        })
            .then(response => response.json())
            .then(data => {
                const response = data.response;
                const messageItem = document.createElement('li');
                messageItem.innerHTML = `
        <div class="chat chat-start">
            <div class="chat-header">
              <b>BOT</b>
            </div>
            <div class="chat-bubble chat-bubble-accent">
                ${response}
            </div>
        </div>
          `;
                messagesList.appendChild(messageItem);
            });
    });

</script>
{% endblock %}
